.homeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 70px;
  height: calc(100vh - 70px);
  width: 100%;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  transition: all 1s ease;
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

.homepageWrapper {
  display: flex;
  flex-direction: column;
}

.homepageWrapper > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}
