.portfolioWorks {
  flex: 0.6;
}

.portfoliolistItem {
  display: flex;
}

.portfolioImgs {
  height: auto;
  width: 90%;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1024px) {
  .portfolioImgs {
    width: 80%;
    height: auto;
    margin-bottom: 0;
  }
}
