.introContainer {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  border: none;
  margin-top: 50px;
}

.introTitleWrapper {
  flex: 0.5;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introTitle {
  font-size: 45px;
  font-weight: 300;
  line-height: 85%;
  margin-left: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.iType {
  color: red;
  font-size: 25px;
}
.introDescription {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.viewProjects {
  width: 35%;
  padding: 15px;
  margin-top: 50px;
  background-color: black;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 15px;
  font-family: "Lucida Console", "Courier New", monospace;
  cursor: pointer;
}

.viewProjects:hover {
  color: white;
}

.imgWrapper {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  transition: all 1.5s ease-in;
}

.imgWrapper.menu {
  position: relative;
  right: 180px;
}

.introImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
  .introContainer {
    flex-direction: column;
  }
  .introTitle {
    font-size: 30px;
    font-weight: 500;
    line-height: 90%;
    margin-left: 5px;
  }

  .viewProjects {
    width: 45%;
    padding: 15px;
    margin-top: 30px;
    font-size: 18px;
    margin-left: 5px;
  }

  .introDescription {
    max-width: 100%;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .iType {
    color: red;
    font-size: 20px;
  }

  .introImage {
    height: 100%;
    width: 60%;
    object-fit: cover;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 540px) {
  .introContainer {
    flex-direction: column;
  }
  .introTitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 90%;
    margin-left: 5px;
  }

  .iType {
    color: red;
    font-size: 12px;
  }

  .introDescription {
    max-width: 80%;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .viewProjects {
    width: 60%;
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
    margin-left: 5px;
  }

  .imgWrapper {
    margin-top: 20px;
  }

  .imgWrapper.menu {
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 420px) {
  .introContainer {
    flex-direction: column;
  }

  .introTitle {
    font-size: 25px;
    font-weight: 500;
    line-height: 90%;
    margin-left: 5px;
  }

  .introDescription {
    max-width: 100%;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .viewProjects {
    width: 45%;
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
    margin-left: 5px;
  }

  .imgWrapper {
    margin-top: 20px;
  }

  .imgWrapper.menu {
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 375px) {
  .introContainer {
    flex-direction: column;
  }

  .introTitle {
    font-size: 30px;
    font-weight: 500;
    line-height: 90%;
    margin-left: 5px;
  }

  .introDescription {
    max-width: 200px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .viewProjects {
    width: 45%;
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
    margin-left: 5px;
  }

  .imgWrapper {
    margin-top: 20px;
  }

  .imgWrapper.menu {
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 300px) {
  .viewProjects {
    padding: 5px;
    width: 50%;
    font-size: 11px;
  }
}
