.portfolioWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfoliolistItem {
  display: flex;
}

.portfolioTitlt {
  position: relative;
  right: 15px;
}

.portfolioTitle {
  font-size: 50px;
  font-weight: bold;
  color: gray;
  font-family: "Lucida Console", "Courier New", monospace;
}

.portfolioInfo {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: 50px;
  position: relative;
  top: 300px;
}

.ProjectLinks {
  display: flex;
  flex-direction: column;
}

.projectLinksItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.projectLinksItem:hover {
  opacity: 0.6;
}

.projectLinkDesc {
  margin-left: 20px;
}

.portfolioImgs {
  height: 450px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .portfolioWorks {
    margin: 20px;
  }
  .portfolioInfo {
    right: 35px;
  }

  .portfolioImgs {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 540px) {
  .portfoliolistItem {
    display: flex;
    width: 100%;
    height: auto;
  }

  .portfolioTitle {
    font-size: 20px;
  }

  .portfolioInfo {
    margin-left: 0px;
    right: 35px;
    top: 5px;
  }

  .portfolioImgs {
    height: auto;
    width: 75%;
  }
}

@media only screen and (max-width: 375px) {
  .portfolioInfo {
    top: 0;
  }
}
