.contactContainer {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  flex: 1;
  height: 100vh;
  border: none;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contactTitleAndDescription {
  color: whitesmoke;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactLeftAndRightWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactLeft {
  flex: 0.5;
}

.contactImgs {
  height: 300px;
}

.contactRight {
  flex: 0.5;
  display: flex;
  flex-direction: column;
}

.handshake {
  display: flex;
  margin-left: 20px;
}

.formWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.emailInput {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid white;
  color: whitesmoke;
  background-color: transparent;
  margin-top: 20px;
}

.emailInput:focus {
  outline: none;
}

.textArea {
  border: 2px solid white;
  width: 60%;
  height: 130px;
  font-size: 18px;
  font-weight: 500;
  color: whitesmoke;
  background-color: transparent;
  margin-top: 25px;
}

.textArea:focus {
  outline: none;
}

.submitMessage {
  margin-top: 15px;
  width: 150px;
  padding: 10px;
  border: 2px solid red;
  color: white;
  font-size: 20px;
  font-weight: 30;
  cursor: pointer;
  background-color: transparent;
}

.error {
  color: white;
  background-color: red;
  max-width: 60%;
  border: none;
  border: 0.2px solid white;
  padding: 5px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.successAlert {
  color: white;
  background-color: #34a853;
  max-width: 60%;
  padding: 5px;
  margin-top: 10px;
  border: none;
  border: 0.2px solid white;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.failAlert {
  color: rgb(163, 13, 13);
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.errorEmail {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .contactLeft {
    flex: 0;
  }

  .mailIcon {
    display: none;
  }

  .contactRight {
    flex: 1;
  }
  .emailInput {
    width: 100%;
  }

  .textArea {
    width: 100%;
  }

  .error {
    max-width: 100%;
  }

  .successAlert {
    max-width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .contactLeft {
    flex: 0;
  }

  .mailIcon {
    display: none;
  }

  .contactRight {
    flex: 1;
  }

  .emailInput {
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-top: 5px;
  }

  .textArea {
    width: 100%;
    height: 80px;
    font-size: 15px;
    margin-top: 10px;
  }

  .submitMessage {
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
  }

  .error {
    max-width: 100%;
    border: none;
    margin-top: 5px;
    font-size: 12px;
  }

  .successAlert {
    max-width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .failAlert {
    font-size: 15px;
    margin-top: 5px;
  }

  .errorEmail {
    font-size: 12px;
  }
}
